%h1= @award.title
= @award.description.html_safe

%ol
  - @award.activities.each do |activity|
    %li
      %h4= activity.title
      = activity.description

      - unless activity.tasks.empty?
        %ol.alphabetic
          - activity.tasks.each do |task|
            %li= task.description
