%h1= "Edit #{@award.title}"

= semantic_form_for [@award, @achievement] do |f|
  = f.inputs :title, :description
  = f.inputs :title, :description, :for => :achievement, :name => "Achievement"
  = f.actions