!!! html
%head
  %title Badgework
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body

  .container-fluid
    .span12
      .row
        = yield(:awards) if content_for?(:awards)

        .span9{ :class => ("offset2 " unless content_for?(:awards)) }
          = yield
